<!doctype html>
<html lang="en" ng-app="LunchCheck">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/styles/bootstrap.min.css">
    <style> .message { font-size: 1.3em; font-weight: bold; } </style>
    <script type="text/javascript" src="assets/javascript/angular.min.js"></script>
    <script type="text/javascript" src="assets/javascript/app.js"></script>
  </head>
<body>
   <div class="container" ng-controller="LunchCheckController">
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input id="lunch-menu" ng-model="dishes" ng-keydown="setMessage();" type="text" placeholder="list comma separated dishes you usually have for lunch" class="form-control">
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="checkDishes();">Check If Too Much</button>
         </div>
         <div class="form-group message">
           <h2>{{message}}</h2>
         </div>
   </div>

</body>
</html>
